[Desktop Entry]
Name=dl-fldigi
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=dl-fldigi
Icon=dl-fldigi
Terminal=false
Type=Application
Categories=Network;HamRadio;
