[Desktop Entry]
Name=dl-fldigi (HAB)
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=dl-fldigi --hab
Icon=dl-fldigi
Terminal=false
Type=Application
Categories=Network;HamRadio;
